:root {
	--ion-color-teal: #006666;
	--ion-color-teal-rgb: 0,102,102;
	--ion-color-teal-contrast: #ffffff;
	--ion-color-teal-contrast-rgb: 255,255,255;
	--ion-color-teal-shade: #005a5a;
	--ion-color-teal-tint: #1a7575;
}

.ion-color-teal {
	--ion-color-base: var(--ion-color-teal);
	--ion-color-base-rgb: var(--ion-color-teal-rgb);
	--ion-color-contrast: var(--ion-color-teal-contrast);
	--ion-color-contrast-rgb: var(--ion-color-teal-contrast-rgb);
	--ion-color-shade: var(--ion-color-teal-shade);
	--ion-color-tint: var(--ion-color-teal-tint);
}