<ion-header [translucent]="true">
  <ion-toolbar color="teal">
    <ion-title align="center">
      <div class="title-text">Departments</div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Loading State -->
  @if (isLoading) {
    <div class="loading-container">
      <ion-spinner name="circular"></ion-spinner>
      <p>Loading departments...</p>
    </div>
  }

  <!-- Error State -->
  @if (error && !isLoading) {
    <div class="error-container">
      <ion-text color="danger">
        <p>{{ error }}</p>
      </ion-text>
      <ion-button (click)="onRetry()" color="teal">
        Retry
      </ion-button>
    </div>
  }


 <!-- Departments List -->
  <ion-list class="department-list" *ngIf="departments.length > 0 && !isLoading">
    <ion-item>  <ion-label>{{ departments[0].displayName }}</ion-label></ion-item>
    <ion-item 
      *ngFor="let department of departments; trackBy: trackByDepartmentId" 
      (click)="navigateToDepartment(department)">
      <ion-label>{{ department.displayName }}</ion-label>
    </ion-item>
    <ion-item>  <ion-label>{{ departments[departments.length-1].displayName }}</ion-label></ion-item>
  </ion-list>


  
</ion-content>